[cite_start]
footer {
    text-align: center;
    position: relative;
}

[cite_start]
footer p {
    font-weight: bold; [cite_start]
    padding: 10px; [cite_start]
}


[cite_start]
header img {
    height: 70px; [cite_start]
    width: 70px;  [cite_start]
}


[cite_start]
#section-banners img {
    height: 500px;
}


[cite_start]
#section-vendidos {
    text-align: center;
}

[cite_start]
#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

[cite_start]
#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

[cite_start]
#section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

[cite_start]
[cite_start].preco { 
    color: red;
    font-size: 18px;
    font-weight: bold;
}




[cite_start]
#voltar-topo {
    position: fixed;
    bottom: 5px; [cite_start]
    right: 50px; [cite_start]
}


[cite_start]
#section-login {
    margin-top: 100px;
}

[cite_start]
#section-login h1 {
    text-align: center;
}

[cite_start]
#section-login input {
    width: 100%;
}

[cite_start]
#section-cadastro {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

[cite_start]
#form-cadastrar {
    padding: 50px;
    display: none; [cite_start]
    [cite_start]
}
